<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ticketing.BackOffice.Razor</title>
     <script src="https://cdn.tailwindcss.com"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    
    <style>
        :root {
            --color-primary-base: #2a83e9;
        }

        body {
            font-family: 'Inter', sans-serif;
            background-color: #f5f5f5;
        }

        .btn-primary {
            background-color: var(--color-primary-base);
            color: white;
            transition: background-color 150ms ease-in-out;
        }
    </style>
</head>
<body class="w-screen min-h-screen flex flex-col">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Ticketing Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
   <main role="main" class="flex-1 py-6">
        <div class="max-w-7xl mx-auto px-4 h-full flex flex-col justify-center">
            @RenderBody()
        </div>
    </main>

    <footer class="mt-auto flex items-center justify-center border-t text-muted bg-white py-3">
        &copy; 2025 - Ticketing Admin - <a asp-page="/Privacy" class="ml-1 text-blue-600">Privacy</a>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>